In [ ]:
"""
Q1. What are the three measures of central tendency?
Ans: The three measure centrel tendency are: 
     1. Mean. 
     2. Median.
     3. mode.
"""

In [ ]:
"""
Q2. What is the difference between the mean, median, and mode? How are they used to measure the
central tendency of a dataset?

Ans: 
Mean: 
1. The averge number for a set of number is mean. 
2. Add all the number together and divide by number of value.
3. Example: 2+3+6+8
            =20/4
            =5 


Median: 

1. The middle value in the data where arrenge in order. 
2. Arrange the given number in order, take middle value.
    if count of number == even take two value and divide by two 
    if not than middle value is final answer.
3. Example : 
        4,2, 8, 10, 19
        as the total number is 5 median is 8.


Mode: 

1. The most frequent data in the dataset.
2. IT shows the frequency of occurrence.
3. Example: 
           3,3,2,5,6,3,2,2
           The number with higest frequency is 3.

In [11]:
"""
Q3. Measure the three measures of central tendency for the given height data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
"""
import numpy as np
from scipy import stats as st

In [3]:
num=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
np.mean(num)

177.01875

In [5]:
np.median(num)

177.0

In [12]:
st.mode(num)

/tmp/ipykernel_70/1594861652.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  st.mode(num)

ModeResult(mode=array([177.]), count=array([3]))

In [ ]:
"""
Q4. Find the standard deviation for the given data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
"""

In [13]:
num1=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [14]:
np.std(num1)

1.7885814036548633

In [ ]:
"""
Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
the spread of a dataset? Provide an example.

Ans:
Measure of dispersion are used to describes how spread out variable in dataset is measure of dispersion,

The range is the difference between the higest and lowest value in the dataset.

The variance is how far each number in the data set varies from the mean.

The disersion of dataset relative to its mean is standard deviation. it is squre root od varience.
the lower standerd deviation indicate that the data point are close to meanm while a high standard
deviation indicates that the data point are more spread out.

Example: 
"""

In [15]:
num3=[1,2,3,4,5,24,5,3]

In [16]:
np.var(num3)

48.609375

In [17]:
np.std(num3)

6.9720423836921706

In [ ]:
"""
Q6. What is a Venn diagram?

Ans: It is the pictureal representation of relationship between two group.

In [ ]:
# Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

In [19]:
A = (2,3,4,5,6,7) 
B = (0,2,6,8,10)

In [20]:
np.intersect1d(A,B)

array([2, 6])

In [21]:
np.union1d(A,B)

array([ 0,  2,  3,  4,  5,  6,  7,  8, 10])

In [ ]:
"""
Q8. What do you understand about skewness in data?

Ans: Skweness is the measure of the asymmetry of histogram.
     Types of skewnesss are: 1. Right skewness, left skewness, zero skewness.

"""

In [ ]:
"""
Q9. If a data is right skewed then what will be the position of median with respect to mean?

Ans: IF the data is roght skewqd than the poition of medina is:
      median < mean  and median > mode.

In [ ]:
"""
Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?

Ans:Both covariance and correlation used to detrmine the relationship between two random variable. 

--Covariance.
1. Covariance is an indicator of how two random variable are dependent on each other. higher the number
   indicate dependency. 
2. The value of covariance lies in the range of -infinity to + infinity.


--Correlation.

1. correlation indicates thow strongly two varibale are related, provided other condition are constant
   the maximum value +1 indicate strong dependent relationship.
2. The value of correlation in range between +1 to -1.

In [28]:
import pandas as pd
data=[[10,12,23],[23,45,56],[45,65,34]]
df=pd.DataFrame(data, columns=['A', 'B', 'C'])

In [29]:
df

    A   B   C
0  10  12  23
1  23  45  56
2  45  65  34

In [30]:
df.cov()

       A           B           C
A  313.0  454.000000   55.000000
B  454.0  716.333333  205.333333
C   55.0  205.333333  282.333333

In [31]:
df.var()

A    313.000000
B    716.333333
C    282.333333
dtype: float64

In [ ]:
"""
Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

Ans: sample mean= sum xi/n 
Example: 
sample mean = 1,2, 34,6, 44
sumof term= 1+2+32+6+44
mean= 85+5=7

"""

In [ ]:
# Q12. For a normal distribution data what is the relationship between its measure of central tendency?

In [ ]:
"""
Q13. How is covariance different from correlation?

Ans: covariance is different from correlation by covaience have limit range form - infinity to + infinity 
      where as the correlation have limit range +1 to -1.
"""

In [ ]:
"""
Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

Ans: 
"""

In [32]:
height=[1,4,3,2,7,8,10]
np.mean(height)

5.0

In [33]:
height1=[1,4,3,2,7,8,10,100] # here 100 is outlier.
np.mean(height1)

16.875